/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.App {
  text-align: center;
  background-color: slategrey;
  height: 100vh;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

.Panels {
  display: flex;
  height: calc(100vh - 100px);
  overflow: hidden;
}
.panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  overflow: auto;
}
.panel-head {
  font-weight: bold;
  background-color: #61DAFB;
  color: darkslategrey;
  padding: 0.5rem 1rem;
}
#editor {
  resize: vertical;
  border: 0;
}
#editor:focus {
  outline: 0;
}
#editor, #preview {
  background-color:darkslategrey;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  overflow: auto;
  text-align: left;
  flex: 1;
}
#preview a {
  color: #61DAFB;
}
#preview pre {
  display: block;
  background-color: rgb(29, 29, 29);
  padding: 0.5rem;
  overflow: auto;
  white-space: pre-wrap;
}
#preview code {
  background-color: rgb(29, 29, 29);
}
#preview img {
  max-width: 100%;
}
#resize-bar {
  width: 5px;
  background-color: cadetblue;
  cursor:col-resize;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 400px) {
  .Panels {
    flex-direction: column;
  }
}